@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* Custom text selection color */
::selection {
  background-color: var(--color-blue-100);
  color: var(--color-blue-900);
}

/* Modern Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-gray-300);
  border-radius: 9999px; /* Fully rounded */
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-gray-400);
}